{% extends "animeapp/template.html" %}
{% block title %} Animetheque | Anime {% endblock %}

{% block content %}
{{block.super}}
<h1> Retrouver la listes des animes </h1>

<table>
    <thead>
        <tr>
            <th> Titre </th>
            <th> Studio </th>
            <th> Année de sortie </th>
        </tr>
    </thead>
    <tbody>
        {% for anime in animes %}
        <tr>
            <td> {{anime.title}} </td>
            <td> {{anime.studio}} </td>
            <td> {{anime.release_date}} </td>
            <td> <a href="/anime/show/{{anime.id}}"> Afficher </a> </td>
            <td> <a href="/anime/update/{{anime.id}}"> Modifier </a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="/anime/add"> Ajouter un anime </a>
<!-- proposer un lien vers studio -->
<a href="/studio"> Voir les studios </a>
<a href="/"> Revenir à la page principale </a>

{% endblock %}